*{
	overflow: hidden;
}
body{
	width: 1280px;
	margin: 100px auto;
	border: 1px solid gray;
	box-shadow: 0 0 10px aquamarine;
}
table{
	border-collapse: collapse;
}

img, table{
	width: 100%;
}
th{
	height: 50px;
	border: 2px;
}
a{
	text-decoration: none;
	color: green;
}